* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
    background-color: lightblue;
    display: flex;
}

.container {

   margin: 0px 225px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.container-d {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

.section1 {
    background-color: dodgerblue;
    width: 100%;
    height: 50px;
}

.bg-sandy-brown {
    background-color: dodgerblue;
    margin-top: -21px;
    padding-top: 15px;
    padding-top: 7px;
    padding-bottom: 10px;
}

.section2 {
    background-color: navy;
    width: 100%
}


.section6 {

    display: flex;
    justify-content: center;
    padding: 150px;
}

.bg {

    height: 300px;
    padding: 180px
}

.bg-pink {

    height: 400px;

}

.w-70 {

    height: 400px;
    width: 70%;

    display: flex;


}

.w-30 {

    height: 400px;
    width: 40%;

    gap: 5px;

}

.w-100 {
    height: 600px;
    width: 100%;

}

.section7 {
    background-color: rgba(31, 29, 29, 0.932);

}

.section8 {
    background-color: rgba(31, 29, 29, 0.932);
}

.bg-aquamarine {
    width: 100%;
    height: 40px;
}

.button-container {
    justify-content: space-between;
    display: flex;
    height: 30px;
    padding-top: 10px;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.item-container {
    height: 25px;
    margin-top: -7px;
    padding-top: 9px;
}

.item-link {
    padding-right: 10px;
}

.item-link-container {
    display: flex;
}

.p {

    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    gap: 25px;

}

.title {
    padding-bottom: 20px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
}

.download-button {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    padding: 7px;
}

.bottom-txt {
    display: flex;
    justify-content: center;
    background-image: url(../img/stars.svg);
}

.paragraph {
    font-size: larger;
    padding: 10px;
}

.main-title {
    width: 140%;

}

.bottom-title {
    display: flex;
    justify-content: center;
}

.top {
    gap: 0px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    color: white;
}

.item-title {
    font-size: xx-large;
    color: cornflowerblue;
    gap: 30px;
}

.first-item {
    color: cornflowerblue;
    font-weight: 600;
}

.item {
    font-weight: 400;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-footer {
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
}

.testo-jumbo {
    display: flex;
    align-items: anchor-center;
    flex-direction: column;
}

.header-buttons {
    gap: 25px;
    display: flex;
}

.jumbo-txt {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 83px;
    font-size: larger
}

.download-button-b {
    padding: 15px;
    color: white;
    background-color: black;
    border-radius: 34px;
}

.download-button-a {
    padding: 15px;
    color: black;
    background-color: white;
    border-radius: 34px;
    
}

.paragrafo-header {
    justify-content: center;
    margin: 0px 30px;
}

.item-link {
    color: white;
    padding-right: 20px;
}

.logo-access {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 3px;
}